*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.div-1{
  display: flex;
   flex-direction: column;
  flex-direction: column;
}
   .div-11 {
    width: 100%;
      padding: 80px;
      float: left;
      display: flex;
flex-direction: column;
justify-content: space-between;
background-color: rgb(241, 224, 224);
   }
.div1-10 ul  {
  display: flex;
    gap: 10px;
     height: 50px;
  background-color: black;
  color: white;
  text-align: end;
  justify-content: end; 
}
  button{
    width: 100px;
    height: 40px;
    background-color:rgb(109, 109, 218) ;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 10px;
  color: white;
  }
  ul li{
    margin-top:10px ;
    margin-right: 20px;
  }
   ul  :hover {
    color: grey ;
   }
   span{
    color: aqua;
   }
.img1{
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin-left: 800px;
  margin-top: -170px;
  float: left;
display: flex;
flex-direction: row;
justify-content: space-between;

}
.div-222{
  text-align: center;
  margin-top: 40px;
}
.div-2{
  display: flex;
  flex-direction: row;
   justify-content: space-between;
  margin: 10px;
  display: flex;
  margin: 100px;

}

.div-20{
  display: flex;
  flex-direction: column;

}
.div-20 p{
 align-items: left;
 margin-right: 400px;
 margin-top: 20px;
}
.div-20 h3{
  font-weight: 500;
}

.div-21{
  display: grid;
  margin-left: 20px;
  
}

.skills-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr ;
  grid-template-rows: 10px 10px 10px 10px ;
  gap: 2rem;

}
  .skill-item i{
    display: inline;
    justify-content: flex-start;
    margin-top: 0.5px;
  }
.skill-item{
  background-color: rgb(253, 245, 245);
   width: 80px;
   height: 20px;
   border-radius: 8px;
   display: flex;
   align-items: center;
}

.div-3 h3{
  text-align: center;
  font-size: large;
}
.div-3{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 50px;
 
  gap: 2rem;
}
.div-33{
  text-align:center ;
  font-size: 100px;
  margin-bottom: 30px;
}
.div-30 button{
  width: 300px;

}

.input  img {
  position: absolute;
  align-items: center;
  left: 111px;
  padding: 12px;
  margin-left: 350px;

   
}
.input input {
 height: 20px;
 margin-left: 500px;
 padding: 4px;
 width: 300px;
 height: 40px;
}

.div-4 h1 {
  margin: 20px;
  text-align: center;
  font-size: 50px;
}
.div-4 p  {
  margin: 50px;
  text-align: center;
 
}
.div-4{
  align-items: center;
  background-color: rgb(223, 164, 164);
}
.div-4 button{
  margin-left: 460px;
  width: 330px;
  margin-top: 20px;
}
.icones{
  display: flex;
  font-weight: 300;
  align-items: center;
  
  gap: 10px;
}
.icones img h6{
display: flex;
flex-direction: row;
}

.all-icon{
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: 450px;
  margin-bottom: 40px;

}

footer{
  align-items: center;
  line-height: 20px;
  text-align: center;
  margin-bottom: 20px;
}



@media (max-width: 1024px) {
  .div-11 {
    padding: 60px 40px;
  }
  
  .img1 {
    margin-left: 600px;
    margin-top: -150px;
    width: 180px;
    height: 180px;
  }
  
  .div-2 {
    margin: 60px;
    flex-direction: column;
    gap: 40px;
  }
  
  .div-20 p {
    margin-right: 200px;
  }
  
  .div-3 {
    grid-template-columns: 1fr 1fr;
    margin-left: 60px;
    margin-right: 60px;
  }
  
  .input input {
    margin-left: 300px;
  }
  
  .div-4 button {
    margin-left: 300px;
  }
  
  .all-icon {
    margin-left: 300px;
  }
  
  .input img {
    margin-left: 250px;
  }
}


@media (max-width: 768px) {
  .div1-10 ul {
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
  }
  
  .div-11 {
    padding: 40px 20px;
    text-align: center;
  }
  
  .img1 {
    position: static;
    margin: 20px auto;
    float: none;
    display: block;
  }
  
  .div-2 {
    margin: 30px 20px;
  }
  
  .div-20 p {
    margin-right: 0;
    text-align: left;
  }
  
  .skills-grid {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
  
  .div-3 {
    grid-template-columns: 1fr;
    margin-left: 20px;
    margin-right: 20px;
    gap: 1.5rem;
  }
  
  .div-33 {
    font-size: 60px;
  }
  
  .div-30 button {
    width: 100%;
    margin-left: 0;
  }
  
  .input input {
    margin-left: 0;
    width: 100%;
    max-width: 300px;
  }
  
  .input img {
    position: static;
    margin-left: 0;
    display: none; 
  }
  
  .div-4 button {
    margin-left: 0;
    width: 100%;
    max-width: 300px;
  }
  
  .all-icon {
    margin-left: 0;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .div-4 {
    padding: 20px;
  }
  
  .div-4 p {
    margin: 30px 0;
  }
}


@media (max-width: 480px) {
  .div1-10 ul {
    font-size: 14px;
  }
  
  .div-11 h1 {
    font-size: 24px;
  }
  
  .div-11 p {
    font-size: 16px;
  }
  
  .img1 {
    width: 150px;
    height: 150px;
  }
  
  .div-222 {
    font-size: 28px;
  }
  
  .div-33 {
    font-size: 40px;
  }
  
  .skills-grid {
    grid-template-columns: 1fr 1fr;
  }
  
  .div-4 h1 {
    font-size: 36px;
  }
  
  .all-icon {
    flex-direction: column;
    align-items: center;
  }
  
  .icones {
    justify-content: center;
  }
}



@media (min-width: 1440px) {
  .div-11 {
    padding: 100px;
  }
  
  .div-2 {
    margin: 120px;
  }
  
  .div-3 {
    margin-left: 120px;
    margin-right: 120px;
  }
}


.img1 {
  max-width: 100%;
  height: auto;
}

.div-30 img {
  max-width: 100%;
  height: auto;
}


@media (max-width: 768px) {
  button {
    min-height: 44px; 
  }
  
  ul li {
    padding: 8px 12px; 
  }
}


@media (max-width: 768px) {
  body {
    font-size: 16px; 
  }
  
  .div-20 p, .div-30 p {
    line-height: 1.5;
  }
}